# Dependencies
node_modules/
*/node_modules/
jspm_packages/
web_modules/

# Production Build Outputs
dist/
dist-ssr/
build/

# Environment Variables & Secrets
.env
.env*.local
*.env
!*.env.example
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & OS Metadata
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/*
!.vscode/extensions.json
.idea/

# Temporary / Backups
.git_backup/
*.tmp
*.bak
